<div class="container register-container">
  <div class="card">
    <div class="card-header text-center">
      <h2>iChat Registration</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
            placeholder="Enter your username"
            required
          />
          <div
            *ngIf="submitted && f['username'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['username'].errors['required']">
              Username is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            required
          />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Enter your password"
            required
          />
          <div
            *ngIf="submitted && f['password'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['password'].errors['required']">
              Password is required
            </div>
            <div *ngIf="f['password'].errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirm your password"
            required
          />
          <div
            *ngIf="submitted && f['confirmPassword'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['confirmPassword'].errors['required']">
              Confirm Password is required
            </div>
            <div *ngIf="f['confirmPassword'].errors['mustMatch']">
              Passwords must match
            </div>
          </div>
        </div>
        <div *ngIf="errorMessage" class="invalid-feedback">
          {{ errorMessage }}
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
