.register-container {
  max-width: 400px;
  margin: 50px auto;
  font-family: "system-ui";
}

.card {
  border: none;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1.5rem;

  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }
}

.card-body {
  padding: 2rem;
}

.form-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #495057;
  margin-left: 6px;
}

.form-control {
  border-radius: 10px;
  padding: 12px 15px;
  width: 250px;
  border: 1px solid #ced4da;
  display: block;
  margin-top: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10px;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: background-color 0.15s ease-in-out;
  margin-top: 1rem;
  color: white;
  margin-left: 33%;

  &:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  &:disabled {
    background-color: #7fb8ff;
    border-color: #7fb8ff;
  }
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.mb-3 {
  margin-bottom: 1rem !important;
}
